<h3>Liste des templates</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Objet</th>
            <th>Contenu</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for template in templates %}
        <tr>
            <td>{{ template.id }}</td>
            <td>{{ template.name }}</td>
            <td>{{ template.object }}</td>
            <td>{{ template.body|raw}}</td>
            <td>
                <a href="{{ path('template_edit', {'id': template.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                {{ include('template/_delete_form.html.twig') }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun résultat trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('template_new') }}" class="btn btn-success btn-sm">Ajouter un template</a>