{% extends 'base.html.twig' %}

{% block title %}UserMailingList index{% endblock %}

{% block body %}
    <h1>UserMailingList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_mailing_list in user_mailing_lists %}
            <tr>
                <td>{{ user_mailing_list.id }}</td>
                <td>{{ user_mailing_list.createdAt ? user_mailing_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_mailing_list.user.fullName }}</td>
                <td>{{ user_mailing_list.mailingList.name }}</td>
                <td>
                    <a href="{{ path('user_mailing_list_show', {'id': user_mailing_list.id}) }}">show</a>
                    <a href="{{ path('user_mailing_list_edit', {'id': user_mailing_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_mailing_list_new') }}">Create new</a>
{% endblock %}
