{% extends 'base.html.twig' %}

{% block title %}MailingList index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste de diffusions</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Utilisateurs liés à la liste</th>
                <th>Date de création</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for mailing_list in mailing_lists %}
                <tr>
                    <td>{{ mailing_list.name }}</td>
                    <td>{% for userMailingList in mailing_list.userMailingLists %}
                            <ul>
                                <li>{{ userMailingList.user.fullName }} - <a href="mailto:{{ userMailingList.user.email }}">{{ userMailingList.user.email }}</a></li>
                            </ul>
                        {% endfor %}
                    </td>
                    <td>{{ mailing_list.createdAt ? mailing_list.createdAt|date('d/m/Y') : '' }}</td>
                    <td>
                        <a href="{{ path('mailing_list_show', {'id': mailing_list.id}) }}" class="btn btn-primary">Détails</a>
                        <a href="{{ path('mailing_list_edit', {'id': mailing_list.id}) }}" class="btn btn-warning">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <input id="new" type="button" onClick="showForm()" value="Créer une nouvelle liste" class="btn btn-success"/>
        <div id="add_form" hidden>
            {{ include('mailing_list/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function showForm()
        {
            document.getElementById('add_form').removeAttribute('hidden');
            document.getElementById('new').setAttribute('hidden', 'hidden');
        }
    </script>
{% endblock %}