<div class="container">
    <h3>Liste de diffusions</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Utilisateurs liés à la liste</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for mailing_list in mailing_lists %}
            <tr>
                <td>{{ mailing_list.name }}</td>
                <td>{% for user in mailing_list.users %}
                        <ul>
                            <li>{{ user.fullName }} - <a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
                        </ul>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('mailing_list_edit', {'id': mailing_list.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    {{ include('mailing_list/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <input id="new" type="button" onClick="showForm()" value="Créer une nouvelle liste" class="btn btn-success"/>
    <div id="add_form" hidden>
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button class="btn btn-success float-right">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}

    </div>
</div>
{% block javascripts %}
    <script>
        function showForm()
        {
            document.getElementById('add_form').removeAttribute('hidden');
            document.getElementById('new').setAttribute('hidden', 'hidden');
        }
    </script>
{% endblock %}