{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success float-right">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('user_index') }}" class="btn btn-secondary float-left">Retour</a>
{{ form_end(form) }}
