{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/card.css"/>
{% endblock %}

{% block body %}
    <div class="container">
        <h5 class="section-title h1 lobster pt-3">Consultants</h5>
        <hr>
            <div class="row">
                {% for user in users %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <a href="{{ path('user_edit', {'id': user.id}) }}" style="color: dimgrey;"><i class="fa fa-pencil pl-2 pt-1"></i></a>
                                </div>
                                <div class="col-md-6">
                                    {{ include('user/_delete_form.html.twig') }}
                                </div>
                            </div>
                            <div class="box">
                                <div class="img">
                                    {% if user.image %}
                                        <img src="{{ vich_uploader_asset(user, 'imageFile') }}" />
                                    {% else %}
                                        {{ user.civility.id in [1,3] ? '<img src="/images/default/female_user.png">' : '<img src="/images/default/male_user.png">' }}
                                    {% endif %}
                                </div>
                                <h2>{{ user.fullName }}</h2>
                                <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                                <p> {{ user.phone }}</p>
                                <p> Agence de <b>{{ user.site.name }}</b></p>
                                <span>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                            </span>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="box">
                            <div class="img">
                                <img src="/images/default/new_user.png">
                            </div>
                            <a href="{{ path('user_new') }}" class="btn btn-success">Ajouter un consultant</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
